html { 
  background: url('../images/grudge.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-blend-mode: overlay;*/
}

.container {
  padding-top : 50px;
}

/*.padding {
  height : 30px;
}*/

body {
  background-color : transparent;
}
h1 {
  font-family: 'Nosifer', cursive;
  color : #830303;
}

h2 {
  font-family: 'Sedgwick Ave Display', cursive;
  color : #830303;
}

h3 {
  font-family: 'VT323', monospace;
  color : #ffffff;
}

/*div {
  border : 1px solid white;
}*/

#start-button {
  width : 160px;
  display : block;
  margin : 0px auto;
}

#div-choice-1 > h3:hover, #div-choice-2 > h3:hover, #div-choice-3 > h3:hover, #div-choice-4 > h3:hover  {
  background-color: #e3e1e9; 
  display: block;
  color : red;
}

img {
  display : block;
  margin : 0px auto;
}
